:root {
  --color-main: #fff;
  --color-primary: #100B50;
  --color-secondary: #22202E;
  --color-tertiary: #C0C0C0;
}

body {
  color: var(--color-text);
  background: var(--color-primary);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-main);
}

a {
  color: #3BB9FF;

  &:visited {
    color: #728FCE;
  }
}

.fa {
  &-brands {
    width: 1.5rem;
  }

  &-github {
    color: #fafafa;
  }
  
  &-stack-overflow {
    color: #F48224;
  }
  
  &-spotify {
    color: #1DB954;
  }
}

#icemaur-body {
  padding: 5rem 2rem;
}
