:root {
  --color-main: #fff;
  --color-primary: #100B50;
  --color-secondary: #22202E;
  --color-tertiary: #C0C0C0;
  --color-spotify-primary: #1DB954;
  --color-spotify-secondary: #191414;
  --color-stack-overflow-primary: #F48224;
  --color-stack-overflow-secondary: #BCBBBB;
  --color-stack-overflow-tertiary: #222426;
}

body {
  color: var(--color-text);
  background: var(--color-primary);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption, 
label {
  color: var(--color-main);
}

a {
  color: #3BB9FF;

  &:hover {
    opacity: 0.8;
  }

  &:visited {
    color: #728FCE;
  }
}

figcaption {
  font-size: 0.825rem;
  font-style: italic;
  text-align: center;
}

.fa {
  &-brands {
    width: 1.5rem;
  }

  &-github {
    color: #fafafa;
  }
  
  &-stack-overflow {
    color: var(--color-stack-overflow-primary);
  }
  
  &-spotify {
    color: var(--color-spotify-primary);
  }
}

.error-message {
  color: #ed4337;
  font-size: 0.75rem;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#icemaur-body {
  padding: 5rem 2rem;
  flex: 1;
}

.article-content {
  & > p:first-child {
    margin-bottom: 2.5rem;
  }

  & h2 {
    margin-top: 2rem;
  }

  & figure {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }
  }

  &-image {
    width: 48rem;
    max-width: 100vw;
    object-fit: cover;
    max-height: 30rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &-quote {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-left: 0.25rem solid var(--color-secondary);
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      font-size: 2rem;
      line-height: 3rem;
      padding-left: 2rem;
      margin-top: 3rem;
      margin-bottom: 4rem;
      margin-left: 4rem;
      margin-right: 6rem;
    }
  }
}

.author-profile-content {
  & > p:first-child {
    margin-bottom: 1.5rem;
  }

  & h2 {
    margin-top: 2rem;
  }
}
